## AusStage and IMDb

In [11]:
import pandas as pd

In [15]:
ausStage = pd.read_csv('AusStage_biography_level_selected_Top500EventProduction_202209211120.csv')
ausStage

,Unnamed: 0,original_id,original_id_unf_alsokwn,prefix,suffix,display_name,first_name,middle_name,last_name,other_names,...,postcode,email,notes,genderid,countryid,countryname,place_of_birth_id,place_of_death_id,entered_by_user,updated_by_user
0,68024,433803,71804,NaN,NaN,Jeff Carter,Jeff,NaN,Carter,NaN,...,NaN,NaN,Australian photographer and author.,1.0,12.0,Australia,NaN,NaN,NaN,NaN
1,95944,458211,94493,NaN,NaN,Raymond Arnold,Raymond,NaN,Arnold,NaN,...,NaN,NaN,NaN,1.0,12.0,Australia,NaN,NaN,NaN,NaN
2,163448,529669,162822,NaN,NaN,Bronwyn Platten,Bronwyn,NaN,Platten,NaN,...,NaN,NaN,NaN,2.0,12.0,Australia,NaN,NaN,Liam McGeagh (LiamMcGeagh),NaN
3,184141,550666,183573,NaN,NaN,Angela Lynkushka,Angela,NaN,Lynkushka,NaN,...,NaN,NaN,NaN,2.0,12.0,Australia,NaN,NaN,Anthony Ketley (AnthonyKetley),Anthony Ketley (AnthonyKetley)
4,184393,550925,183830,NaN,NaN,Kenton Penley,Kenton,NaN,Penley,NaN,...,NaN,NaN,NaN,1.0,12.0,Australia,NaN,NaN,NickHenderson,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,5249,9786,6751,NaN,NaN,Richard Vabre,Richard,NaN,Vabre,NaN,...,NaN,NaN,NaN,1.0,12.0,Australia,NaN,NaN,NaN,Liz Larkin (LizLarkin)
1043,6877,10141,7035,NaN,NaN,Jamieson Lewis,Jamieson,NaN,Lewis,Jamie,...,NaN,NaN,NaN,1.0,12.0,Australia,NaN,NaN,NaN,NaN
1044,2884,2642,2715,Mr,NaN,Mr Robert Kenneth Leslie Taylor,Robert,Kenneth Leslie,Taylor,NaN,...,3015.0,NaN,Technical Director Anthill 1986. Playbox Produ...,1.0,12.0,Australia,4483.0,NaN,NaN,Robert Taylor (RobertTaylor)
1045,6534,203365,7459,NaN,NaN,Giacomo Puccini,Giacomo,NaN,Puccini,NaN,...,NaN,NaN,Born in Italy. Died in Brussels.,1.0,100.0,Italy,NaN,NaN,NaN,Jenny Fewster (JennyFewster)
1046,2620,3469,3439,NaN,NaN,Nigel Levings,Nigel,NaN,Levings,NaN,...,NaN,NaN,Born in Manchester (England). Emigrated to Au...,1.0,12.0,Australia,NaN,NaN,NaN,NaN

In [40]:
IMDb_names = pd.read_csv('IMDb.csv')
IMDb_names

,Unnamed: 0,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0050419,tt0031983,tt0072308"
1,1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0117057,tt0071877,tt0037382"
2,2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0057345,tt0054452,tt0049189"
3,3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0083922"
...,...,...,...,...,...,...,...
11952816,11952816,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt14069590,tt11657662"
11952817,11952817,nm9993716,Essias Loberg,\N,\N,NaN,\N
11952818,11952818,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11952819,11952819,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11952820,11952820,nm9993719,Andre Hill,\N,\N,NaN,\N

In [43]:
common_data = ausStage.merge(IMDb_names, left_on='display_name', right_on='primaryName')
common_names.to_csv('merged.csv')

In [12]:
title_akas = pd.read_csv('IMDb datasets/title.akas.tsv', sep='\t')
title_akas

/var/folders/1f/h80p_db528d2k055yqcq1c080000gn/T/ipykernel_1639/2067273468.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  title_akas = pd.read_csv('IMDb datasets/title.akas.tsv', sep='\t')

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33290530,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33290531,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33290532,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33290533,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
33290534,tt9916856,2,The Wind,\N,\N,original,\N,1

In [6]:
#title_basics = pd.read_csv('IMDb datasets/title.basics.tsv', sep='\t')
#title_basics.to_csv('title_basics')

/var/folders/1f/h80p_db528d2k055yqcq1c080000gn/T/ipykernel_1639/1424140170.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics = pd.read_csv('IMDb datasets/title.basics.tsv', sep='\t')